<nav class="list1">
    <img src="assets/img/siembra.png" alt="Logo de siembra">
    <ul>
      <li class="li1"> <a routerLink="">Inicio</a></li>
      <li class="li1"> <a routerLink="/flowers">Flores </a></li>
      <li class="li1"> <a routerLink="/bonsais">Bons&aacute;is</a></li>
      <li class="li1"> <a routerLink="/orchids">Orqu&iacute;deas</a></li>
      <li class="li1"> <a routerLink="/vegetables">Huerta</a></li>
      <li class="li1"> <a routerLink="/tools">Herramientas</a></li>
    </ul>
    <button routerLink="/login" type="button" id="loginButton" class="btn btn-primary"><img src="/assets/img/user.png"
        alt="Botón de ingresar">
      Ingresar</button>
  </nav>
  