<app-navbar></app-navbar>
<section class="text-vegetables">

  <p class="title-page">Huerta</p>
  <p>Tener una huerta casera es muy sencillo y muy útil, ya que puedes tener tus vegetales favoritos a la mano.</p>

</section>
<section class="vegetables-elements">
  <div class="vegetables-element-1">
    <div class="card border-success" style="width: 25rem;">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/tomate1.png" class="d-block w-100" alt="tomates rojos">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/tomate2.jpeg" class="d-block w-100" alt="tomates rojos en maceta">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/tomate3.jpg" class="d-block w-100" alt="cultivo de tomate rojo">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tomate</h5>
        <p class="card-text">El tomate es probablemente uno de los alimentos más consumidos en nuestra dieta ya que se
          puede consumir crudo o cocinado y se puede añadir a multitud de platos, desde ensaladas hasta para hacer
          salsas caseras.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">$32.900 COP</li>
        <li class="list-group-item">TIEMPO DE ENTREGA: 3-5 días hábiles.</li>
        <li class="list-group-item">Exige luz solar —en sombra la producción se resiente— y buen drenaje. El riego es
          clave tras el trasplante. Una vez bien establecida la planta conviene “dejar secar el sustrato entre riegos”.
        </li>
      </ul>
      <div class="card-body">
        <a href="/vegetables" class="card-link">Añadir al carrito</a>
      </div>
    </div>
  </div>
  <div class="vegetables-element-2">
    <div class="card border-success" style="width: 25rem;">
      <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/pimenton.jfif" class="d-block w-100" alt="pimenton en maceta">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/pimenton2.jfif" class="d-block w-100" alt="cultivo de pimenton">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/pimenton3.jfif" class="d-block w-100" alt="pimenton verde">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Piment&oacute;n</h5>
        <p class="card-text">Los pimientos son originarios de América Central y el norte de América del Sur. Contienen
          betacarotenos y gran cantidad de vitamina C; contribuyen a la prevención de infecciones, regulan el
          colesterol, y tienen muy pequeño aporte calórico, entre otras propiedades y beneficios.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">$27.500 COP</li>
        <li class="list-group-item">TIEMPO DE ENTREGA: 3-5 días hábiles.</li>
        <li class="list-group-item">Los pimientos prefieren zonas soleadas, por eso deberás escoger un sitio donde
          obtengan un mínimo de seis horas diarias de sol. Necesitan un sustrato rico en materia orgánica, con un buen
          drenaje.</li>
      </ul>
      <div class="card-body">
        <a href="/vegetables" class="card-link">Añadir al carrito</a>
      </div>
    </div>
  </div>
  <div class="vegetables-element-3">
    <div class="card border-success" style="width: 25rem;">
      <div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/img/cebolla.jpg" class="d-block w-100" alt="cebolla en maceta">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/cebolla2.jfif" class="d-block w-100" alt="cultivo de cebolla">
          </div>
          <div class="carousel-item">
            <img src="/assets/img/cebollas3.jpg" class="d-block w-100" alt="cebolla">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Cebolla</h5>
        <p class="card-text">Cultivar cebollas en maceta en tu huerto urbano ecológico merece la pena: no es un cultivo
          complejo, tampoco necesitas mucho espacio y las cebollas se utilizan en muchas recetas de cocina e incluso
          remedios caseros, por lo que resulta muy práctico tener cebollas ecológicas a mano.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">$23.200 COP</li>
        <li class="list-group-item">TIEMPO DE ENTREGA: 3-5 días hábiles.</li>
        <li class="list-group-item">Coloca tu maceta en un lugar soleado, donde tus plantas de cebollas no estarán
          obstruidas por otras plantas o sombra.
          Elige una maceta grande con buen drenaje. La tierra necesita ser bien drenada, ligera, y rica en nitrógeno.
        </li>
      </ul>
      <div class="card-body">
        <a href="/vegetables" class="card-link">Añadir al carrito</a>
      </div>
    </div>
  </div>
</section>
