<app-navbar></app-navbar>
<div class="index-content">
  <section class="free-shipping">
    <p> Envío gratis a nivel nacional por compras mayores a $350.000 COP</p>

  </section>
  <section class="buy-and-aboutUs-index-section">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/img/flores3.png" class="d-block w-100" alt="tulipanes anaranjados">
          <div class="carousel-caption d-none d-md-block">
            <h5>Flores</h5>
            <p>Tenemos un amplio portafolio de flores para ti.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/img/orquidea3.png" class="d-block w-100" alt="orquidea anaranjada">
          <div class="carousel-caption d-none d-md-block">
            <h5>Orqu&iacute;deas</h5>
            <p>Elige una de nuestras orquídeas para regalar.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/img/bonsai3.png" class="d-block w-100" alt="bonsai jade">
          <div class="carousel-caption d-none d-md-block">
            <h5>Bons&aacute;is</h5>
            <p>Tenemos el bonsái perfecto para tu hogar.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <section class="categories-index">
      <p class="title-categories-index">¡En Siembra tenemos todo lo que necesitas para tu jardín!</p>
      <div class="table-categories-line1">
        <div class="card border-success" style="width: 25rem;">
          <img src="/assets/img/orquidea1.png" class="card-img-top" alt="orquidea morada">
          <div class="card-body">
            <h5 class="card-title">Orqu&iacute;deas</h5>
            <p class="card-text">Tenemos desde las orq&iacute;deas más comunes, hasta las m&aacute;s ex&oacute;ticas.
            </p>
            <a href="/orchids" class="btn btn-success">Ver orqu&iacute;deas</a>
          </div>
        </div>
        <div class="card border-success" style="width: 25rem;">
          <img src="/assets/img/bonsai1.png" class="card-img-top" alt="bonsai de flores amarillas">
          <div class="card-body">
            <h5 class="card-title">Bons&aacute;is</h5>
            <p class="card-text">Los mejores bons&aacute;is para tu hogar.</p>
            <a href="/bonsais" class="btn btn-success">Ver bons&aacute;is</a>
          </div>
        </div>
        <div class="card border-success" style="width: 25rem;">
          <img src="/assets/img/pimenton1.png" class="card-img-top" alt="pimenton verde en maceta">
          <div class="card-body">
            <h5 class="card-title">Huerta</h5>
            <p class="card-text">Te ofrecemos un amplio cat&aacute;logo en frutas y vegetales, para tu huerta.</p>
            <a href="/huerta" class="btn btn-success">Ver huerta</a>
          </div>
        </div>
      </div>
      <div class="table-categories-line2">
        <div class="card border-success" style="width: 25rem;">
          <img src="/assets/img/flores1.png" class="card-img-top" alt="flores rosadas">
          <div class="card-body">
            <h5 class="card-title">Flores</h5>
            <p class="card-text">Tenemos desde girasoles hasta margaritas y mucho m&aacute;s.</p>
            <a href="/flowers" class="btn btn-success">Ver flores</a>
          </div>
        </div>
        <div class="card border-success" style="width: 25rem;">
          <img src="/assets/img/herramientas1.png" class="card-img-top" alt="herramientas de jardin">
          <div class="card-body">
            <h5 class="card-title">Herramientas</h5>
            <p class="card-text">Si lo que necesitas es una buena pala, tambi&eacute;n la tenemos para ti.</p>
            <a href="/tools" class="btn btn-success">Ver herramientas</a>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="contact-information">
    <div class="stores">
      <span>
        <img src="/assets/img/mapa.png" alt="símbolo de ubicación">
        <div>
          <p>Nuestras Tiendas</p>
          <p>Bogotá/Medellín</p>
        </div>

      </span>
    </div>
    <div class="phone">
      <span>
        <img src="/assets/img/telephone.png" alt="símbolo de celular">
        <div>
          <p>32199999999</p>
          <p>32200000000</p>
        </div>

      </span>
    </div>
    <div class="facebook">
      <span>
        <img src="/assets/img/facebook.png" alt="símbolo de facebook">
        <div>
          <p>@SiembraApp</p>
        </div>

      </span>
    </div>
    <div class="Instagram">
      <span>
        <img src="/assets/img/instagram.png" alt="símbolo de Instagram">
        <div>
          <p>@SiembraApp</p>
        </div>

      </span>
    </div>

  </section>
</div>
